

/* .navbar-light .navbar-brand,.navbar-light .navbar-nav .nav-link {
    color: #fff;
} */
html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
  	background: #FFf;
  	margin: 0;
  	padding: 0;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

nav.opaque-navbar{
    /* background-color: rgba(0,0,0,0); */
    background-color: #fff;
    /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
      border-bottom: 0px;
      /* box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.03);

      transition: background-color .5s ease 0s;
      height: 60px;
}
.inline{
    display: inline;
}
/* .opaque {
    background-color: black;
    height: 50px;
    color: #fff;
    transition: background-color .5s ease 0s;
} */

/* .nav-item{
    text-align: left;
}

 .navbar-nav.links{
    margin-left: 800px;

} */